<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">

<th:block layout:fragment="admincontent">

  <script th:inline="javascript">
    let t5dlist = [[${t5dlist}]];
    let t5clist = [[${t5clist}]];

    let t5dlabels = [];
    let t5ddatas = [];
    for(let obj of t5dlist) {
      t5dlabels.push(obj['title']);
      t5ddatas.push(obj['boxoffice']);
    }

    let t5clabels = [];
    let t5cdatas = [];
    for(let obj of t5clist) {
      t5clabels.push(obj['title']);
      t5cdatas.push(obj['cumulativeboxoffice']);
    }

    // console.log(t5dlabels);
    // console.log(t5ddatas);

    let barData = {
      labels: t5dlabels,
      datasets: [{
      label: "관객수",
      backgroundColor: ["#6E6ED7", "#FFD0CD", "#FFAA28", "#D68642", "#5AD18F"],
      hoverBackgroundColor: ["#0000CD", "#FF9E9B", "#FF8200", "#AE5E1A", "#3CB371"],
      borderColor: "#4e73df",
      data: t5ddatas,
    }],
    }

    let bc2Data = {
      labels: t5clabels,
        datasets: [{
        label: "관객수",
        backgroundColor: ["#6E6ED7", "#FFD0CD", "#FFAA28", "#D68642", "#5AD18F"],
        hoverBackgroundColor: ["#0000CD", "#FF9E9B", "#FF8200", "#AE5E1A", "#3CB371"],
        borderColor: "#4e73df",
        data: t5cdatas,
      }],
    }
  </script>


  <!-- Content Wrapper. Contains page content // 본문-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) // 본문 헤더 -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>통계</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">통계</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content 본문 -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="row">

              <div class="col-xl-11 col-lg-7">

                <!-- 현재 상영작 중 일일 관객수 TOP5 영화 (2023.06.12 기준) -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">현재 상영작 중 일일 관객수 TOP5 영화 (2023.06.12 기준)</h6>
                  </div>
                  <div class="card-body" style="height: 400px !important;">
                    <div class="chart-bar">
                      <canvas id="myBarChart" style="height: 350px !important;"></canvas>
                    </div>
                  </div>
                </div>

                <!-- 현재 상영작 중 누적 관객수 TOP5 영화 (2023.06.12 기준) -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">현재 상영작 중 누적 관객수 TOP5 영화 (2023.06.12 기준)</h6>
                  </div>
                  <div class="card-body" style="height: 400px !important;">
                    <div class="chart-bar">
                      <canvas id="barChart2" style="height: 350px !important;"></canvas>
                    </div>
                    <hr>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
<!--  <script src="/static/js/demo/chart-area-demo.js"></script>-->
<!--  <script src="/static/js/demo/chart-pie-demo.js"></script>-->
  <script src="/static/js/demo/chart-bar-demo.js"></script>

  <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
  <script src=https://code.jquery.com/jquery-3.6.0.js></script>

</th:block>

</html>
