<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">

<th:block layout:fragment="admincontent">

  <!-- Content Wrapper. Contains page content // 본문-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) // 본문 헤더 -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>회원 관리</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">회원목록</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content 본문 -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
<!--                본문 타이틀-->
                <h3 class="card-title">회원목록</h3>
              </div>


                <div class="card-body">
                <table id="example2" class="table table-head-fixed table-bordered table-hover">
                  <thead>
                  <tr class="text-center">
                    <th>No.</th>
                    <th>아이디</th>
                    <th>이름</th>
<!--                    <th>생년월일</th>-->
                    <th>전화번호</th>
                    <th>이메일</th>
<!--                    <th>가입일</th>-->
<!--                    <th>수정/삭제</th>-->
<!--                    <th>수정/삭제</th>-->
                  </tr>
                  </thead>

                  <tbody>
                  <tr class="text-center" th:each="mem : ${memlist}">
                    <td th:text="${mem.pmno}">1</td>
                    <td th:text="${mem.userid}">1</td>
                    <td th:text="${mem.name}">가디언즈 오브 갤럭시: Volume 3</td>
<!--                    <td>&nbsp;</td> &lt;!&ndash; th:text="${mem.movdirector}"&ndash;&gt;-->
                    <td th:text="${mem.phone}">크리스 프랫, 조 샐다나, 데이브 바티스타, 빈 디젤</td>
                    <td th:text="${mem.email}">액션/어드벤처/SF</td>
<!--                    <td th:text="${mem.regdate}">150분</td>-->
<!--                    <td>-->
<!--                      <a th:href="@{'/management/movie/modify/' + ${mov.movno}}">수정</a>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                      <a th:href="@{'/management/movie/remove/' + ${mov.movno}}">삭제</a>-->
<!--                    </td>-->
                  </tr>

                  </tbody>


<!--                  <tfoot>-->
<!--                  <tr>-->
<!--                    <th>Rendering engine</th>-->
<!--                    <th>Browser</th>-->
<!--                    <th>Platform(s)</th>-->
<!--                    <th>Engine version</th>-->
<!--                    <th>CSS grade</th>-->
<!--                    <th>CSS grade</th>-->
<!--                    <th>CSS grade</th>-->
<!--                    <th>CSS grade</th>-->
<!--                  </tr>-->
<!--                  </tfoot>-->
                </table>
                 </div>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>

</th:block>

</html>
