<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">
<th:block layout:fragment="admincontent">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>영화 관리</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><a href="/management/movie/schedule/calendar">달력보기</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">상영스케줄</h3>
              </div>


              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>상영번호</th>
                    <th>상영관</th>
                    <th>영화명</th>
                    <th>상영날짜</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>가격</th>
                    <th>좌석현황</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr th:each="sch, stat : ${movschlist}">
                    <td th:text="${sch.schno}">123</td>
                    <td th:text="${sch.schno}">T</td>
                    <td th:text="${movtitle[__${stat.index}__].movtitle}">가디언즈 오브 갤럭시: Volume 3</td>
                    <td th:text="${sch.odate}">2023.05.03</td>
                    <td th:text="${sch.stime}">1000</td>
                    <td th:text="${sch.etime}">1300</td>
                    <td th:text="${sch.price}">12000</td>
                    <td th:text="${booked}">20/50</td>
                    <td>-</td>
                    <td>-</td>
                  </tr>
                  </tbody>


                  <tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>


          </div>



        </div>
      </div>
    </div>
  </div>
</th:block>
</html>
