<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">
<th:block layout:fragment="admincontent">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>상영스케줄</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/management/movie/schedule/list">목록</a></li>
              <li class="breadcrumb-item"><a href="/management/movie/schedule/calendar">달력보기</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">

        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header justify-content-center">
                <div class="row justify-content-center">
                  <div class="col-sm-12 float-sm-center justify-content-center">
                    <button type="button" class="col-sm-3 justify-content-center btn btn-block btn-primary">
                      <a href="/management/movie/schedule/resgister" class="nav-link">스케줄 등록하기</a>
                     </button>
                   </div>
                 </div>
              </div>


              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>상영번호</th>
                    <th>상영관</th>
                    <th>영화명</th>
                    <th>상영날짜</th>
                    <th>시작시간</th>
                    <th>종료시간</th>
                    <th>가격</th>
                    <th>좌석현황</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                  </thead>

                  <tbody>
                  <!-- 영화 스케줄 목록 반복 -->
                  <tr th:each="movsch : ${movschlists}">
                    <td th:text="${movsch.schno}">schno1</td>
                    <td th:text="${movsch.ciplace}">상영관123</td>
                    <td th:text="${movsch.movtitle}">영화명블랙팬서</td>
                    <td th:text="${movsch.odate}">개봉일20230531</td>
                    <td th:text="${movsch.stime}">시작시간1000</td>
                    <td th:text="${movsch.etime}">종료시간1130</td>
                    <td th:text="${movsch.price}">가격12000</td>
                    <td th:text="${movsch.booked} + '석'">좌석현황20/50</td>
                    <td>
                      <!-- 수정 버튼 -->
                      <a th:href="@{'/management/movie/schedule/modify/' + ${movsch.schno}}">
                        <button th:if="${movsch.booked == 0}" type="button" class="btn btn-primary text-white">수정</button>
                      </a>
                      <span th:if="${movsch.booked > 0}" class="text-dark font-weight-bold">수정불가</span>
                    </td>
                    <td>
                      <!-- 삭제 버튼 -->
                      <button th:if="${movsch.booked == 0}" type="button" th:id="'deleteButton-' + ${movsch.schno}" class="btn btn-danger text-white">
                        삭제
                      </button>
                      <span th:if="${movsch.booked > 0}" class="text-dark font-weight-bold">삭제불가</span>
                    </td>


                  </tr>

                  </tbody>


                  <tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>


          </div>



        </div>
      </div>
    </div>
  </div>
  <script>
    const deleteButtons = document.querySelectorAll('[id^="deleteButton-"]');
    deleteButtons.forEach(function(button) {
      button.addEventListener("click", function(event) {
        event.preventDefault();
        var confirmed = confirm("정말 삭제하시겠습니까?");
        if (confirmed) {
          var schno = parseInt(button.id.split("-")[1]);
          location.href = "/management/movie/schedule/remove/" + schno;
        }
      });
    });
  </script>


</th:block>
</html>
