<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">

<th:block layout:fragment="admincontent">
    <!-- 세션변수가 생성되지 않았다면 index로 이동 -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">영화 등록</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Starter Page</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>


        <div class="content">

            <div class="row mt-2 offset-1 col-10 mx-auto">

                <form class="card card-body bg-light"
                      name="movieinforegifrm" id="movieinforegifrm">

                    <div class="row mt-2">
                        <label class="col-3 col-form-label text-end" for="movgenre">장르</label>
                        <div class="col-6">
                            <input type="text" name="movgenre" id="movgenre" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <label class="col-3 col-form-label text-end" for="movtitle">제목</label>
                        <div class="col-6">
                            <input type="text" name="movtitle" id="movtitle" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <label class="col-3 col-form-label  text-end" for="movdirector">감독</label>
                        <div class="col-6">
                            <input type="text" name="movdirector" id="movdirector" class="form-control ">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-3 col-form-label text-end" for="movactor">주연 배우</label>
                        <div class="col-6">
                            <input type="text" name="movactor" id="movactor" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-3 col-form-label text-end" for="movreleasedate">개봉연월일</label>
                        <div class="col-6">
                            <input type="text" name="movreleasedate" id="movreleasedate" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-3 col-form-label  text-end" for="movcountry">국가</label>
                        <div class="col-6">
                            <input type="text" name="movcountry" id="movcountry" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-3 col-form-label  text-end" for="movgrade">상영 등급</label>
                        <div class="col-6">
                            <input type="text" name="movgrade" id="movgrade" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-3 col-form-label  text-end" for="movruntime">러닝타임</label>
                        <div class="col-6">
                            <input type="text" name="movruntime" id="movruntime" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-3 col-form-label  text-end" for="movdetail">줄거리</label>
                        <div class="col-6">
                            <textarea rows="6" class="form-control" id="movdetail" name="movdetail" placeholder="Plot Summary"></textarea>
                        </div>
                    </div>

<!--                    <div class="row mt-2">-->
<!--                        <label class="col-3 col-form-label text-end" for="movmainposter">영화 포스터</label>-->
<!--                        <div class="col-6">-->
<!--                            <input type="file" name="movmainposter" id="movmainposter" class="form-control bg-light" />-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row mt-2">
                        <label class="col-3 col-form-label text-end" for="stillcuts">스틸컷</label>
                        <div class="col-6">
                            <input type="file" name="stillcuts" id="stillcuts" multiple="multiple" class="form-control bg-light" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label class="col-3 col-form-label text-end" for="videourl">예고편 url</label>
                        <div class="col-6">
                            <input type="text" name="videourl" id="videourl" class="form-control bg-light" />
                        </div>
                    </div>



                    <div class="row mt-4 justify-content-center">
                        <hr class="w-75">
                        <div class="text-center">
                            <button type="button" id="writebtn"
                                    class="btn btn-primary">
                                <i class="fa fa-check"> </i>입력완료
                            </button>
                            <button type="button" id="cancelbtn"
                                    class="btn btn-danger">
                                <i class="fa fa-remove"> </i>입력취소
                            </button>
                        </div>
                    </div>

                </form>
            </div>

        </div>

    </div>

    <script src="/static/js/movieinforegi.js"></script>
</th:block>

</html>