<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">

<th:block layout:fragment="admincontent">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Starter Page</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Starter Page</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
          <div class="row">

            <div style="margin:auto;"class="col-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">새로운 상영 영화 등록</h4>
                  <p class="card-description">
                    영화 정보 및 포스터를 추가해 주세요.
                  </p>
                  <form class="movie" enctype="multipart/form-data" th:action="@{/movie/addimpl}">
                    <div class="form-group">
                      <label for="exampleSelectGenre">장르</label>
                      <select name="gid" class="form-control" id="exampleSelectGenre">
                        <option th:each="g:${glist}"
                                th:if="${g.tid != 0}" th:value="${g.id}" th:text="${g.name}"
                        >man</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputTitle">제목</label>
                      <input type="text" class="form-control" name="title" id="exampleInputTitle" placeholder="Title">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputDirector">감독</label>
                      <input type="text" class="form-control" name="director" id="exampleInputDirector" placeholder="Director">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputMainactor">주연 배우</label>
                      <input type="text" class="form-control" name="mainactor" id="exampleInputMainactor" placeholder="Mainactor">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputReleasedate">개봉연월일</label>
                      <input type="text" onKeyup="inputYMDNumber(this);" maxlength="10" class="form-control" name="releasedate" id="exampleInputReleasedate" placeholder="yyyy-mm-dd">
                    </div>
                    <div class="form-group">
                      <label>포스터 1</label>
                      <input type="file" name="mf1" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" name="posterimg1" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>포스터 2</label>
                      <input type="file"  name="mf2" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" name="posterimg2" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputCountry">국가</label>
                      <input type="text" class="form-control" name="country" id="exampleInputCountry" placeholder="Country">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputGrade">심의 등급</label>
                      <input type="text" class="form-control" name="grade" id="exampleInputGrade" placeholder="Grade">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputRunningtime">러닝타임 (형식/___m)</label>
                      <input type="text" class="form-control" name="runningtime" id="exampleInputRunningtime" placeholder="___m">
                    </div>
                    <div class="form-group">
                      <label>줄거리</label>
                      <textarea rows="6" class="form-control"  name="text" id="exampleInputPoint" placeholder="Text"></textarea>
                    </div>

                    <button id="btn" type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>

  </div>
</th:block>

</html>
