<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">

<th:block layout:fragment="admincontent">


  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>영화 관리</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">영화 정보</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-6">
                   <h3 class="card-title my-auto">영화 정보</h3>
                  </div>

                  <div class="col-sm-6 float-sm-right">
                  <button type="button" class="col-sm-6 float-sm-right btn btn-block btn-primary">
                    <a href="/management/movieinfo/register" class="nav-link"> 영화 등록하기</a>
                  </button>
                </div>
                </div>
              </div>


                <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>번호</th>
                    <th>영화제목</th>
                    <th>감독</th>
                    <th>배우</th>
                    <th>장르</th>
                    <th>러닝타임</th>
                    <th>개봉일</th>
                    <th>등급</th>
                    <th>???</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr th:each="mov : ${movlist}">
                    <td th:text="${mov.movno}">1</td>
                    <td th:text="${mov.movtitle}">가디언즈 오브 갤럭시: Volume 3</td>
                    <td th:text="${mov.movdirector}">제임스 건</td>
                    <td th:text="${mov.movactor}">크리스 프랫, 조 샐다나, 데이브 바티스타, 빈 디젤</td>
                    <td th:text="${mov.movgenre}">액션/어드벤처/SF</td>
                    <td th:text="${mov.movruntime}">150분</td>
                    <td th:text="${mov.movreleasedate}">2023.05.03</td>
                    <td th:text="${mov.movgrade}">12세이상관람가</td>
                    <td>
                      <a th:href="|javascript:showDetail(${mov.movno})|">미리보기</a>
<!--                      <a th:href="|/management/movieinfo/view?movno=${mov.movno}|">새창미리보기</a>-->
                    </td>
                    <td>
                      <a th:href="@{'/management/movie/modify/' + ${mov.movno}}">수정</a>
                    </td>
                    <td>
                      <a th:href="@{'/management/movie/remove/' + ${mov.movno}}">삭제</a>
                    </td>
                  </tr>


                  </tbody>


                  <tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                  </tr>
                  </tfoot>
                </table>
                 </div>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>

  </div>



  <script src="/static/js/movielist.js"></script>

</th:block>


</html>
