<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">
<th:block layout:fragment="admincontent">
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>영화 관리</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><a href="/management/movie/schedule/calendar">달력보기</a></li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">상영 정보</h3>
              </div>


                <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>No.</th>
                    <th>상영번호</th>
                    <th>영화명</th>
                    <th>상영관</th>
                    <th>상영시작</th>
                    <th>상영종료</th>
                    <th>잔여석</th>
                    <th>등록일</th>
                    <th>시간표</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr>
                    <td>1</td>
                    <td>123</td>
                    <td>가디언즈 오브 갤럭시: Volume 3</td>
                    <td>T</td>
                    <td>2023.05.03</td>
                    <td>2023.07.03</td>
                    <td>144</td>
                    <td>2023.04.20</td>
                    <td>시간표</td>
                    <td>수정</td>
                    <td>삭제</td>
                  </tr>
                  </tbody>


                  <tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                  </tr>
                  </tfoot>
                </table>
                 </div>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</th:block>
</html>
