<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/template}">

<th:block layout:fragment="admincontent">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>회원 관리</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">예매내역</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">예매내역</h3>
              </div>


                <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>번호</th>
                    <th>예매번호</th>
                    <th>예매자</th>
                    <th>예매영화</th>
                    <th>상영관</th>
                    <th>예매날짜</th>
                    <th>예매시간</th>
                    <th>예매좌석</th>
                    <th>결제가격</th>
                    <th>결제일</th>
                    <th>취소</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr th:each="bk : ${bklist}">
                    <td th:text="${bk.bkono}">1</td>
                    <td th:text="${bk.bookingnum}">1</td>
                    <td th:text="${bk.name}">1</td>
                    <td th:text="${bk.title}">예매영화</td>
                    <td>상영관</td> <!-- th:text="${mem.movdirector}"-->
                    <td th:text="${bk.viewingday}">예매날짜</td>
                    <td th:text="${bk.viewingday}">예매시간</td>
                    <td th:text="${bk.seats}">예매좌석</td>
                    <td th:text="${bk.totalprice}">결제가격</td>
                    <td th:text="${bk.regdate}">결제일</td>

                  </tr>



                  <tr>
                    <td>Trident</td>
                    <td>Trident</td>
                    <td>Trident</td>
                    <td>Trident</td>
                    <td>Internet
                      Explorer 4.0
                    </td>
                    <td>Win 95+</td>
                    <td>Win 95+</td>
                    <td> 4</td>
                    <td>X</td>
                    <td>X</td>
                    <td>X</td>
                  </tr>
                  </tbody>


                  <tfoot>
                  <tr>
                    <th>Rendering engine</th>
                    <th>Browser</th>
                    <th>Platform(s)</th>
                    <th>Engine version</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                    <th>CSS grade</th>
                  </tr>
                  </tfoot>
                </table>
                 </div>
              </div>

            </div>

        </div>
      </div>
    </div>
  </div>
</th:block>

</html>
