<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="leftaside">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/adminindex" class="brand-link">
                <img src="/static/img/profile.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">홈으로</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/static/img/popcorn-logo.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Hello 😄!</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search" oninput="filterItems(this.value)">

                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-users fa-search"></i>
                                <p>
                                    회원
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">

                                    <a href="/management/member/memberlist" class="nav-link" >
                                        <i class="far nav-icon"></i>
                                        <p>회원 정보</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/member/ticketinglist" class="nav-link">
                                        <i class="far  nav-icon"></i>
                                        <p>예매 내역</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-film"></i>
                                <p>
                                    영화
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/management/movieinfo/list" class="nav-link">
                                        <i class="far  nav-icon"></i>
                                        <p>영화 관리</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="/management/movie/schedule/list" class="nav-link">
                                        <i class="far  nav-icon"></i>
                                        <p>상영 스케줄</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-item menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-line"></i>
                                <p>
                                    매출 및 통계
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/management/stats/sales" class="nav-link">
                                        <i class="far  nav-icon"></i>
                                        <p>매출 관리</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/management/stats/chart" class="nav-link">
                                        <i class="far  nav-icon"></i>
                                        <p>통계</p>
                                        <!--예매량, 인기 영화, 회원 가입 통계 등을 시각화하여 제공-->
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>

                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3 id="visit-count">0</h3>
                            <p th:text="${visitCount}">방문 횟수</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-chart-pie"></i>
                        </div>
                    </div>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <script>
            function filterItems(searchTerm) {
                const menu = document.getElementById("sidebar-menu");
                const items = menu.getElementsByClassName("nav-link");

                Array.from(items).forEach(item => {
                    const itemText = item.textContent.toLowerCase();
                    if (itemText.includes(searchTerm.toLowerCase())) {
                        item.style.display = "block";
                    } else {
                        item.style.display = "none";
                    }
                });
            }
        </script>
    </th:block>
</html>