<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="htttp://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <style>
        .thumbnail { border-radius: 0; position: relative; z-index: 1; border: 2px solid #fff; outline: 1px solid #ccc; }
    </style>
    <div id="main" class="row mt-2">
        <div class="col">
            <div class="row mt-2">
                <a href="#" class="col-2 text-dark pt-2" >
                    <h5 class="fw-bold" style="text-underline: red">현재상영작</h5></a>
                <a href="#" class="col-2 text-dark pt-2">
                    <h5 style="font-weight: bold">상영예정작</h5></a>
            </div>
            <div class="col text-dark ">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                     <button type="button" class="btn btn-secondary  btn-sm">예매순</button>
                     <button type="button" class="btn btn-secondary btn-sm">평점순</button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-3 col-xs-6 mb-5" th:each="mo:${mlist}">
                    <div class="thumbnail">
                        <a th:href="|/movie/view?movno=${mo.movno}|">
                            <img src="/static/img/moviesample.jpg" class="img-fluid" style="width: 100%">
                        </a>
                            <div class="caption mt-1" >
                                <ul  class="list-unstyled block text-center">
                                    <li><h4><img th:src="|/static/img/${mo.movgrade}.png|" class="mb-2"><b th:text="${mo.movtitle}">가디어오브 갤러시</b></h4></li>
                                    <li><b th:text="|예매율 00.0 / 개봉일 ${mo.movreleasedate}|">예매율 00.0% | 개봉일 2023.05.15</b></li>
                                </ul>
                            </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="button">예매하기</button>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</th:block>

</html>