<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="htttp://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <style>
        .thumbnail { border-radius: 0; position: relative; z-index: 1; border: 2px solid #fff; outline: 1px solid #ccc; }
        li { margin-top: 10px; font-size: 1.5em }

        #rpfrm fieldset{
            display: inline-block;
            direction: rtl;
            border:0;
        }
        #rpfrm fieldset legend{
            text-align: right;
        }
        #rpfrm input[type=radio]{
            display: none;
        }
        #rpfrm label{
            font-size: 3em;
            color: transparent;
            text-shadow: 0 0 0 #f0f0f0;
        }
        #rpfrm label:hover{
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }
        #rpfrm label:hover ~ label{
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }
        #rpfrm input[type=radio]:checked ~ label{
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }

        .fieldset{
            display: inline-block;
            direction: rtl;
            border:0;
        }
        .fieldset legend{
            text-align: right;
        }
        .fieldset input[type=radio]{
            display: none;
        }
        .fieldset label{
            font-size: 3em;
            color: transparent;
            text-shadow: 0 0 0 #f0f0f0;
        }
        .fieldset label:hover{
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }
        .fieldset label:hover ~ label{
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }
        .fieldset input[type=radio]:checked ~ label{
            text-shadow: 0 0 0 rgba(250, 208, 0, 0.99);
        }

    </style>
    <div id="main" class="row mt-2">
        <div class="col">
            <div class="row mt-2">
                <div class="col-sm-3" >
                    <div class="thumbnail">
                            <!--<img src="/static/img/moviesample.jpg" class="img-fluid" style="width: 100%">-->
                            <!--<img src="http://localhost/cdn/moviesample.jpg" class="img-fluid" style="width: 100%">-->
                           <!-- <img th:src="${mov.movie.movmainposter}" class="img-fluid" style="width: 100%">-->
                        <img th:src="@{${mov.movie.movmainposter}}" class="img-fluid" alt="movieposter" style="width: 100%" >
                    </div>
                </div>
                <div class="col-auto">
                    <h1 th:text="${mov.movie.movtitle}">가디언즈 갤럭시</h1>
                    <ul>
                        <li th:text="|장르 : ${mov.movie.movgenre}|">장르 : </li>
                        <li th:text="|개봉일 : ${mov.movie.movreleasedate}|">개봉일 :</li>
                        <li th:text="|감독 : ${mov.movie.movdirector}|">감독 :</li>
                        <li th:text="|배우 : ${mov.movie.movactor}|">배우 :</li>
                        <li>등급 : <img th:src="|/static/img/${mov.movie.movgrade}.png|"></li>
                        <li th:text="|상영 시간 : ${mov.movie.movruntime} 분|">상영 시간 :</li>
                        <li th:text="|국가 : ${mov.movie.movcountry}|">국가 :</li>
                    </ul>
                    <div class="d-grid gap-2 mt-2">
                        <button class="btn btn-primary" type="button" id="ticketing">예매하기</button>
                    </div>
                </div>
           </div>
            <div class="mt-5">
                <h4>줄거리</h4>

                <div th:text="${mov.movie.movdetail}">  이영화의 내용을 내영ㅇㅇ,ㅡㄹ </div>
            </div>


            <div class="mt-5">
                <h4>스틸컷</h4>
                <hr/>
                <div class="d-flex justify-content-center overflow-auto" style="max-width: 100%;">
                    <th:block th:each="still : ${#strings.arraySplit(mov.fname, ';')}">
                        <img th:src="|http://3.39.177.18/cdn/${still}|" alt="Stillcut Image" class="img-fluid"
                             style="width: 80%; max-width: 500px; max-height: 500px; margin: 5px;">
                    </th:block>
                </div>
            </div><!--스틸컷-->

            <div class="mt-5">
                <h4>예고편</h4>
                <hr/>
                <div class="embed-responsive embed-responsive-16by9" style="width: 60vw; height: 70vh;">
                    <iframe width="100%" height="100%"
                            class="embed-responsive-item"
                            th:src="@{'https://www.youtube.com/embed/' + ${mov.movie.videourl.substring(mov.movie.videourl.lastIndexOf('/') + 1)}}"
                            allowfullscreen></iframe>
                </div>
                <!--                <iframe width="1688" height="569" src="https://www.youtube.com/embed/1TkdeD8wfQM" title="&quot;Mr. Sunshine&quot; (2018) - Official Trailer - Korean Drama" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
            </div>



           <div class="mt-5">
                <i class="fa-solid fa-comments fa-2xl"> 영화 리뷰 </i>
                <hr>
            </div>
            <div class="bg-light">
            <div class="row mt-5">
                <div class="offset-2 col-8">
                    <form name="rpfrm" id="rpfrm" class="bg-light p-3">

                        <fieldset class="fieldset2">
                            <span class="text-bold">별점을 선택해주세요</span>
                            <input type="radio" name="star" value="5" id="rate1"><label
                                for="rate1">★</label>
                            <input type="radio" name="star" value="4" id="rate2"><label
                                for="rate2">★</label>
                            <input type="radio" name="star" value="3" id="rate3"><label
                                for="rate3">★</label>
                            <input type="radio" name="star" value="2" id="rate4"><label
                                for="rate4">★</label>
                            <input type="radio" name="star" value="1" id="rate5"><label
                                for="rate5">★</label>
                        </fieldset>

                        <div class="row align-items-center">
                            <div>
                                <textarea id="reply" name="reply" rows="4" class="form-control "></textarea>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button type="button" class="btn btn-dark mt-3" id="rpnewbtn" >
                                    <i class="fa fa-commenting"> </i> 댓글쓰기</button>
                            </div>
                            <input type="hidden" name="userid" id="userid" th:value="${session.UID}" >
                            <input type="hidden" name="movno" id="movno" th:value="${mov.movie.movno}">
                        </div>
                    </form>
                </div>
            </div><!--댓글 작성폼-->

            <div class="row mt-5">
                <div class="offset-2 col-8">
                    <table class="table">

                        <tr th:each="rp:${rplist}" id="relist">
                            <!--댓글 시작-->
                                <td style="width: 10%"><i class="fa-sharp fa-solid fa-comment-dots fa-flip-horizontal fa-2xl"></i></td>
                                <td>
                                    <div style="padding:3px;">
                                            <span th:text="${rp.userid}" style="color: #0c84ff">아이디</span>
                                        <span th:each="i : ${#numbers.sequence(1, rp.star)}" style="color: rgba(250, 208, 0, 0.99)">★</span>
                                        <th:block th:if="${rp.star < 5}">
                                        <span th:each="i : ${#numbers.sequence(rp.star + 1, 5)}" style="color: rgba(250, 208, 0, 0.99)">☆</span>
                                        </th:block>
                                        <th:block th:if="${not #strings.isEmpty(session.UID)}">
                                            <span style="float:right; padding:2px;">
                                                <a th:href="|javascript:showComment(${rp.rpno},'${rp.reply}',${rp.star})|">[수정]</a>
                                                 / <a th:href="|javascript:deleteComment(${rp.rpno},${rp.movno})|" >[삭제]</a>
                                            </span>
                                        </th:block>

                                    </div>
                                    <p style="padding: 5px 0;" th:text="${rp.reply}"> 삐용삐용 댓글삐용삐용 댓글삐용삐용 댓글삐용삐용 댓글삐용삐용 댓글</p>

                                </td><!--댓글 출력-->
                        </tr>


                    </table>

                </div>
            </div><!--댓글 리스트-->
            </div>

        </div>
    </div>

    <div class="modal hide" id="modModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">
                        <i class="fa-solid fa-message"> </i>댓글 수정</h3>
                </div>
                <div class="modal-body">
                    <form name="modfrm" id="modfrm" method="post">
                        <fieldset class="fieldset">
                            <span class="text-bold">별점을 선택해주세요</span>
                            <input type="radio" name="star" value="5" id="rate11"><label
                                for="rate11">★</label>
                            <input type="radio" name="star" value="4" id="rate22"><label
                                for="rate22">★</label>
                            <input type="radio" name="star" value="3" id="rate33"><label
                                for="rate33">★</label>
                            <input type="radio" name="star" value="2" id="rate44"><label
                                for="rate44">★</label>
                            <input type="radio" name="star" value="1" id="rate55"><label
                                for="rate55">★</label>
                        </fieldset>
                        <textarea name="reply" id="comment" rows="7" cols="60"></textarea>
                        <input type="hidden" name="userid" th:value="${session.UID}">
                        <input type="hidden" name="movno" th:value="${mov.movie.movno}">
                        <input type="hidden" name="rpno" id="rpno">
                    </form>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="modbtn"
                            class="btn btn-danger">수정하기</button>
                </div>
            </div>
        </div>
    </div><!-- 댓글 수정 모달 -->

    <script src="/static/js/movie.js"></script>

</th:block>

</html>