<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="htttp://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <div id="main">

        <div class="row justify-content-center" id="videoWrap">
            <video autoplay="autoplay" id="indexMovie">
                <source src="https://adimg.cgv.co.kr/images/202305/Transformers7/0601_TF7_1080x608.mp4" type="video/mp4">
            </video>
            <strong class="indexMovieTitle">트랜스포머: 비스트의 서막</strong>
            <div class="indexMovieController">
                <a href="#" class="indexMovieDetailView">
                    상세보기 <i class="fa-solid fa-chevron-right" style="color: #343434;"></i>
                </a>
                <a href="#" class="indexMoviePlayStop" id="indexMoviePlayStop" onclick="showPlayNStop()">
                    <i class="fa-solid fa-pause" style="color: #343434; margin-left: 9px;"></i>
                </a>
                <a href="#" class="indexMovieSound" id="indexMovieSound" onclick="showMovieSound()">
                    <i class="fa-solid fa-volume-high" style="color: #343434; margin-left: 5px;"></i>
                </a>
            </div>
        </div>

    </div>


</th:block>

</html>