<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultra.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">

<th:block layout:fragment="content">
    <div id="main">
        <h2 class="mt-4" style="font-weight: bold">예매하기</h2>
        <div class="row">
            <div class="col-9">
                <div class="border-top border-primary border-opacity-50 pt-2" style="font-size: 18px;">결제수단 선택</div>
                <div class="border rounded border-primary border-opacity-50" style="margin-top: 50px;">
                    <div class="col">
                        <div class="row m-0 pt-3 pb-3 border-bottom border-primary border-opacity-50">
                            <div class="form-check col-3 ps-5">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    신용/체크카드
                                </label>
                            </div>
                            <div class="form-check col-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    휴대폰 결제
                                </label>
                            </div>
                            <div class="form-check col-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    간편결제
                                </label>
                            </div>
                            <div class="form-check col-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    내통장결제
                                </label>
                            </div>
                        </div>
                        <div class="row ps-4 pt-3 pb-3">
                            <div class="col-2">카드사 선택</div>
                            <div class="col-3">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>카드 선택</option>
                                <option value="1">비씨카드</option>
                                <option value="2">국민카드</option>
                                <option value="3">신한카드</option>
                                <option value="3">삼성카드</option>
                                <option value="3">롯데카드</option>
                                <option value="3">농협카드</option>
                                <option value="3">하나카드</option>
                                <option value="3">현대카드</option>
                                <option value="3">씨티카드</option>
                                <option value="3">제주카드</option>
                                <option value="3">우리카드</option>
                                <option value="3">수협카드</option>
                                <option value="3">전북카드</option>
                                <option value="3">광주카드</option>
                                <option value="3">신협카드</option>
                                <option value="3">카카오뱅크</option>
                                <option value="3">케이뱅크</option>
                                <option value="3">우체국카드</option>
                                <option value="3">토스카드</option>
                                <option value="3">SC제일은행비씨카드</option>
                                <option value="3">SC제일은행삼성카드</option>
                                <option value="3">IBK기업은행카드</option>
                            </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">2</div>
        </div>
    </div>
</th:block>

</html>