<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <style>
    body{
      scrollbar-3dlight-color:#FFFFFF;
      scrollbar-arrow-color:#C3C3C3;
      scrollbar-track-color:#FFFFFF;
      scrollbar-darkshadow-color:#FFFFFF;
      scrollbar-face-color:#FFFFFF;
      scrollbar-highlight-color:#C3C3C3;
      scrollbar-shadow-color:#C3C3C3;
    }
  </style>

<body marginwidth="0" marginheight="0">
<table style="width: 100%; border-collapse: initial; border-spacing: 0;">
  <tbody>
  <tr>
    <td style="height: 32px; background-color: #F5F5F5;"><img src="//ticketimage.interpark.com/TicketImage/event/080519_m/blat_03.gif" style="width: 24px; height: 24px; margin: 0 5px; vertical-align: middle;"><img src="//ticketimage.interpark.com/TicketImage/event/080519_m/li_title_06.gif" style="width: 82px; height: 17px; vertical-align: bottom; margin: 3px 0;"> <img src="//ticketimage.interpark.com/TicketImage/event/080519_m/m_info_txt.gif" style="margin: 3px 0; vertical-align: middle;"></td>
  </tr>
  <tr>
    <td style="height: 340px; background-color: #FFFFFF; vertical-align: top; text-align: center;">
      <table style="width: 100%; border-collapse: initial; border-spacing: 0;">
        <tbody>
        <tr style="margin-top: 7px;">
          <td style="border:5px #E2E6E8 solid; vertical-align: top;">
            <div style="z-index: 1; width: 100%; height: 345px;">

              <table style="width: 101%; border-collapse: initial; border-spacing: 0; text-align: right;">
                <tbody>
                <tr style="margin-top: 5px;">
                  <td style="vertical-align: top">
                    <table style="border-collapse: initial; border-spacing: 0;">
                      <tbody>
                      <tr>
                        <td id="ageGroup" name="ageGroup" style="width: 97px; background:url() 0 center no-repeat;
                        padding:0 7px 0 20px;">
                        <td style="width: 80px; vertical-align: center">
                        </td>
                        <td>
                          <table style="width:256px; border-spacing: 2px;">

                            <tbody>
                            <tr>
                              <td>
                                <a style="background-color: black;">
                                  &nbsp;
                                </a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="margin: 1px 0; height: 1px; background-color: #E2E6E8;"></td>
                </tr>



                <tr>
                  <td style="vertical-align: top">
                    <table style="border-collapse: initial; border-spacing: 0;">
                      <tbody id="selectMovie">

                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td style="margin: 1px 0; height: 1px; width:256px; background-color: #E2E6E8;"></td>
                </tr>



                </tbody>
              </table>
            </div>

          </td>
        </tr>

        </tbody></table>

    </td>
  </tr>
  </tbody></table>







<script>
  let movgrade = parent.document.querySelector("#movgrade");


  let ageGroup = document.querySelector("#ageGroup");

  if(movgrade.value !== '') {
    console.log("check 2");
    ageGroup.backgroundImage = "/static/img/ticket/" + mvlistfrm.movgrade.innerHTML + ".png";
  }

  window.onload = function () {
    // iframe A에서 iframe B로 함수 호출 메시지 보내기
    let targetWindow = document.getElementById('frmDateSelect').contentWindow;
    let functionName = 'test';
    let arguments = [];  // 함수에 전달할 인자들

    targetWindow.postMessage({functionName: functionName, arguments: arguments}, '*');
  }
</script>


</body>
</html>