<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>



<table style="width: 100%; border-collapse: initial; border-spacing: 0; margin-left: -10px;">
  <tbody>
  <tr>
    <td style="height: 32px; background-color: #F5F5F5;"><img src="//ticketimage.interpark.com/TicketImage/event/080519_m/blat_04.gif" width="24" height="24" align="absmiddle" hspace="5"><img src="//ticketimage.interpark.com/TicketImage/event/080519_m/li_title_07.gif" style="width: 75px; height: 18px; vertical-align: bottom; margin: 3px 0;"></td>
  </tr>
  <tr>
    <td style="height: 83px; background-color: #FFFFFF; vertical-align: top; text-align: center;">
      <table style="width: 90%; border-collapse: initial; border-spacing: 0;">
        <tbody>
        <tr>
          <td style="margin-top: 7px; height: 40px;">
            <table style="border-collapse: initial; border-spacing: 0;">
              <tbody>
              <tr>
                <td>
                  <div>
                  <span>
                    <img src="http://ticketimage.interpark.com/TicketImage/event/080519_m/arrow_04.gif" style="width: 3px; height: 5px; vertical-align: center;">
                    일반 (15000원)
                    <select id="seatAdult" onchange="insertseatAdult()" style="width:50px; height:23px;">
                      <option value="0" selected="">0 매</option>
                      <option value="1">1 매</option>
                      <option value="2">2 매</option>
                      <option value="3">3 매</option>
                      <option value="4">4 매</option>
                    </select>
                  </span>
                  <span>
                    <img src="http://ticketimage.interpark.com/TicketImage/event/080519_m/arrow_04.gif" style="width: 3px; height: 5px; vertical-align: center;">
                    청소년 (12000원)
                    <select id="seatTeen" onchange="insertseatTeen()" style="width:50px; height:23px;">
                      <option value="0" selected="">0 매</option>
                      <option value="1">1 매</option>
                      <option value="2">2 매</option>
                      <option value="3">3 매</option>
                      <option value="4">4 매</option>
                    </select>
                  </span>
                </div>
                </td>
              </tr>
              <tr>
                <td style="height: 30px;"><div id="dvPriceGrade"></div></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
<!--        <tr>
          <td style="height: 7px;"></td>
        </tr>-->
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td style="text-align: right; height: 50px; background-color: #F5F5F5;">
      <a style="cursor: pointer;"><img src="//ticketimage.interpark.com/TicketImage/event/080519_m/next_b.gif" style="width: 147px; height: 40px; margin: 0 10px;"
                                    id="callModal" name="callModal"></a>
    </td>
  </tr>
  </tbody>
</table>
<script>
  let callModal = document.querySelector("#callModal");

  let modalBackground = parent.document.querySelector("#modalBackground");
  let seatModal = parent.document.querySelector("#seatModal");

  let seatAdult = document.querySelector("#seatAdult");
  let seatTeen = document.querySelector("#seatTeen");

  let movseatadult =  parent.document.querySelector("#movseatadult");
  let movseatteen =  parent.document.querySelector("#movseatteen");
  let adult =  parent.document.querySelector("#adult");
  let teen =  parent.document.querySelector("#teen");
  let movtotalprice =  parent.document.querySelector("#movtotalprice");
  let totalpay =  parent.document.querySelector("#totalpay");

  insertseatAdult = () => {
    adult.value = seatAdult.value;
    if(isNaN(parseInt(movseatteen.value))){
      movtotalprice.value = parseInt(adult.value) * 15000;
      movseatadult.value = parseInt(adult.value) * 15000;
      teen.value = 0;
      movseatteen.value = 0;
    } else {
    movtotalprice.value = parseInt(adult.value) * 15000 + parseInt(movseatteen.value) * 15000;
    movseatadult.value = parseInt(adult.value) * 15000;
    }
    totalpay.innerHTML = "총 결제 금액 " + movtotalprice.value;

    console.log("adult : "+adult.value);
    console.log("movseatadult : "+movseatadult.value);
    console.log("movtotalprice : "+movtotalprice.value);
  }

  insertseatTeen = () => {
    teen.value = seatTeen.value;
    if(isNaN(parseInt(movseatadult.value))){
      movtotalprice.value = parseInt(teen.value) * 12000;
      movseatteen.value = parseInt(teen.value) * 12000;
      adult = 0;
      admovseatadultult = 0;
    } else {
      movtotalprice.value = parseInt(adult.value) * 12000 + parseInt(teen.value) * 12000;
      movseatteen.value = parseInt(teen.value) * 12000;
    }
    totalpay.innerHTML = "총 결제 금액 " + movtotalprice.value;

    console.log("teen : "+teen.value);
    console.log("movseatteen : "+movseatteen.value);
    console.log("movtotalprice : "+movtotalprice.value);
  }

  callModal.addEventListener('click', () => {
    modalBackground.style.zIndex = '999';
    modalBackground.style.width = '100%';
    modalBackground.style.height = '100%';
    modalBackground.style.position = 'absolute';
    modalBackground.style.display = 'flex';
    modalBackground.style.left = '0';
    modalBackground.style.top = '0';
    modalBackground.style.backgroundColor = 'rgba(0, 0, 0, 0.35)';
    modalBackground.style.justifyItems = 'center';

    seatModal.style.zIndex = '1000';
    seatModal.style.width = '100%';
    seatModal.style.height = '100%';
    seatModal.style.display = 'block';
    seatModal.style.position = 'fixed';
    seatModal.style.zIndex = '1000';
    seatModal.style.top = '5%';
    seatModal.style.left = '25%';
  });
</script>
</body>
</html>